/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* DEBUG */
/* .header-top {
    display: flex;
    justify-content: center;
    background-color: aquamarine;
    padding: 10px;
} */

/* .header-bottom {
    background-color: darkblue;
    padding: 40px 0;

}

.container-box {
    width: 50%;
    height: 350px;
    background-color: darkmagenta;
    margin: 0 auto;
    border-style: dashed;
    border-radius: 1%;
    border-color: yellow;
} */

/* .my-row {
    border-style: dashed;
    border-color: 1px black;
    padding: 0 5px;
    background-color: darkgoldenrod;
}


.column-first {
    width: 500px
}

.column-second {
    width: 50%;
} */

/* section 1 */
/* .container2 {
    display: flex;
    justify-content: center;
    padding: 40px 0;
} */

/* .box1 {
    width: 40%;
    height: 500px;
    background-color:#1E90FF;
    border-style: dashed;
    border-color: black;
} */
/* 
.box2 {
    width: 30%;
    height: 500px;
    background-color:#FFC0CB;
    border-style: dashed;
    border-color: black;
    padding: 40px 0;
} */

/* section 2 */
/* .container3 {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    background-color: #D3D3D3;
}

.box4 {
    width: 40%;
    height: 500px;
    background-color: #1E90FF;
    border-style: dashed;
    border-color: black;
}

.box3 {
    width: 30%;
    height: 500px;
    background-color:#FFC0CB;
    border-style: dashed;
    border-color: black;
    padding: 40px 0;
} */

/* section 5 */
/* .container4 {
    background-color:#D3D3D3;
    padding: 40px;
}

#box {
    background-color: #228B22;
    width: 900px;
    height: 800px;
    border-style: dashed;
    border-color: black;
    margin: 0 auto;

} */

/* footer*/
/* .footercontainer {
    background-color:#23272A;

} */

/* .flex1 {
    background-color: #F08080;
    border-style: dashed;
    border-color: black;
    width: 800px;
    height: 500px;
} */
/* .flex2-3-4-5 {
    border-color: #ffffff;
    border-style: dashed;
    background-color: #20B2AA;
    width:500px;

} */

/* .footersection1 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
    padding: 10px 0 30px 0;
} */

/* .hrfooter {
   margin: 0 auto;
}

.containerfoot {
    background-color: aquamarine;
    width: 700px;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    justify-content:space-between
} */

/* .logo-button {
    background-color: #FFB6C1;
    border-style: dashed;
    border-color: black;
    padding: 5px;
}
.margfoot {
    padding-top: 10px;
} */

/* GENERAL */
html {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* STYLE */

.header-top {
    display: flex;
    justify-content: center;
    background-color:  #255EE9;
    padding: 10px;
}

.h1title1 {
    color: white;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 30px;
    font-size: 50px;
}

.paragraph {
    width: 35%; 
    line-height: 1.5;
    margin: 0 auto;;   
}

p {
    color: white;
    text-align: center;
}

.buttonpc {
    display: inline-block;
    border-radius: 50px;
    background-color: #ffffff;
    padding: 10px;
    text-decoration: none;
    color: black;
    margin-right: 10px;
}

.buttonbrowser {
    display: inline-block;
    border-radius: 50px;
    background-color: #23272A;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.buttons-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.header-bottom {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 600px;
}

/* section 1 */

.container2 {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.box1 {
    width: 40%;
    height: 500px;
}

.h1-container {
    width: 200px;    
}
.h1-section1 {
    font-size: 40px;
    color: black;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 30px;
}
 
.pcontainer {
    width: 300px;
}
.pcontainer > p {
    color: black;
    font-size: 20px;
    text-align: left;
    font-size: 15px;
    line-height: 1.5;
}

.box2 {
    width: 30%;
    height: 500px;
}

/* section 2 */ 
.container3 {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.box3 {
    width: 40%;
    height: 500px;
}

.h1-container {
    width: 250px;
    font-size: 50px;
}
.h1-section1 {
    font-size: 40px;
    color: black;
    text-align: left;
    padding-bottom: 30px;
}
 
.pcontainer {
    width: 300px;
}
.pcontainer > p {
    color: black;
    font-size: 20px;
    text-align: left;
    font-size: 15px;
    line-height: 1.5;
}

.box2 {
    width: 30%;
    height: 500px;
}

.img-container {
    display: flex;
    justify-content: flex-end;
}

div >img {
    width: 100%;
}

/* section 3 */
.h1-sectionbig {
    font-size: 40px;
    color: black;
    text-align: center;
    padding-bottom: 30px;
}

.p-big-box {
    color: black;
    font-size: 15px;
    line-height: 1.5;
}

#box {
    width: 900px;
    height: 800px;
    margin: 0 auto;
}

.container4 {
    margin-bottom: 100px;
}

/* question + button */
.question-container {
    width: 700px;
    margin: 0 auto;
}

.question {
    font-size: 30px;
    color: black;
    text-align: center;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.buttonmac2 {
    display: inline-block;
    border-radius: 50px;
    background-color: #7289DA;
    padding: 10px;
    text-decoration: none;
    color:white;
    margin-top: 30px;

}

/* footer */
.footercontainer {
    background-color:#23272A;

}

.footersection1 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 70%;
    padding: 90px 0 30px 0;
}

.title-purple {
    color: #7289DA;
    line-height: 1.5;
    font-size: 30px;

}

.language {
    display: flex;
    justify-content: flex-start;
    color: white;
    padding-top: 5px;
}

.language-flag {
    width: 20px;
}

.lang-select {
    font-size: smaller;
    padding-left: 5px;
}

.social {
    display: flex;
    padding-top: 10px;
    
}

.social-item {
    padding-right: 10px;
    color:white;
}



.flex1 {
    width: 1000px;
    height: 500px;
}


.flex2-3-4-5 {
    width:500px;
    display: flex;
    flex-direction: column;
}
 
/* columns */
.col-title {
    color: #7289DA;
    padding-bottom: 25px;
    padding-top: 5px;
    text-decoration: none;
    justify-content: flex-start;
}

.col-item {
    color: white;
    padding-bottom: 20px;
    text-decoration: none;
    justify-content: flex-start;
}

/* hr footer */
hr {
   color: #7289DA;
   width: 70%;
   margin: 0 auto;
}

.hrfooter {
    margin: 0 auto;
 }

/* footer second section */

 
.containerfoot {
    Width: 70%;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    justify-content:space-between
}

.footercontainer {
    padding-bottom: 20px;
}

.containerfoot {
    display: flex;
    justify-content: space-between;
}
.logo-button {
    padding: 5px;
}

.margfoot {
    padding-top: 10px;
}

.button-register {
    display: inline-block;
    border-radius: 50px;
    background-color: #7289DA;
    color: white;
    padding: 10px;
    text-decoration: none;
}